@media  (max-width : 500px){

    .navbar .container ul{
        display:none;
    }

    *{
        box-sizing: border-box;
    }
    
    body{
    
        font-family:Arial, Helvetica, sans-serif;
    }
    
    li{
        list-style:none;
    }
    .humberger-menue{
    
        /* border:2px solid red; */
        position:relative;
    }
    
    .humberger-menue input[type="checkbox"]{
    
        position:absolute;
        top:20px;
        left:5px;
        width:40px;
        height:32px;
        z-index:2;
        opacity:0;
    }
    .humberger-lines{
    
        width:20px;
        height:16px;
        /* background-color: aqua; */
        position:absolute;
        top:15px;
        left:12px;
        z-index:1;
        display:flex;
        flex-direction:column;
        justify-content:space-between;
        margin-top:1rem
    }
    
    .humberger-lines .line{
    
        background-color: #ccc;
        width:100%;
        height:2px;
        display:block;
        border-radius:10px;
    }
    
    .menue-items{
    
        border:2px solid green;
        padding-left:40px;
    
        padding-top:60px;
        transform:translateX(-100%);
    
        transition: transform 0.5s ease-in-out;
        
 
        margin-left:-15px;

        padding-bottom:2rem;
    
        width:90px;
        height:130px;
        /* z-index:-5; */
    
    }
    
    .menue-items li a{
    
        margin-bottom:1.5rem;
        color:white;
        font-size:2rem;
    }
    .menue-items li a:hover{

        text-decoration: underline;
    }
    
    .humberger-menue input[type=checkbox]:checked ~ .menue-items{
    
        transform: translateX(0%);
        
    
    }
    
    .humberger-menue input[type=checkbox]:checked ~  .humberger-lines .line{
    
        background-color:#fff;
        transition:transform 0.4s ease-in-out;
    }
    
    .humberger-menue input[type=checkbox]:checked ~  .humberger-lines .line1{
    
        transform:rotate(45deg);
        transform-origin: top left;
    }
    .humberger-menue input[type=checkbox]:checked ~  .humberger-lines .line3{
    
        transform:rotate(-45deg);
        transform-origin:bottom left;
    }
    .humberger-menue input[type=checkbox]:checked ~  .humberger-lines .line2{
    
        display:none;
    }
    
    
    /* 1. state check karni aani chahiy check box ki
    2.agar check box click hai to select karna hai menue items */
}



@media (min-width:500px) and (max-width:670px){

    .navbar .container ul{
        display:none;
    }

    *{
        box-sizing: border-box;
    }
    
    body{
    
        font-family:Arial, Helvetica, sans-serif;
    }
    
    li{
        list-style:none;
    }
    .humberger-menue{
    
        /* border:2px solid red; */
        position:relative;
    }
    
    .humberger-menue input[type="checkbox"]{
    
        position:absolute;
        top:20px;
        left:5px;
        width:40px;
        height:32px;
        z-index:2;
        opacity:0;
    }
    .humberger-lines{
    
        width:20px;
        height:16px;
        /* background-color: aqua; */
        position:absolute;
        top:15px;
        left:12px;
        z-index:1;
        display:flex;
        flex-direction:column;
        justify-content:space-between;
        margin-top:1rem
    }
    
    .humberger-lines .line{
    
        background-color: #ccc;
        width:100%;
        height:2px;
        display:block;
        border-radius:10px;
    }
    
    .menue-items{
    
        /* border:2px solid green; */
        padding-left:40px;
    
        padding-top:60px;
        transform:translateX(-100%);
    
        transition: transform 0.5s ease-in-out;
        
 
        margin-left:-15px;

        padding-bottom:2rem;
    
        width:120px;
        height:160px;
        /* z-index:-5; */
    
    }
    
    .menue-items li a{
    
        margin-bottom:1.5rem;
        color:white;
        font-size:2rem;
    }
    .menue-items li a:hover{

        text-decoration: underline;
    }
    
    .humberger-menue input[type=checkbox]:checked ~ .menue-items{
    
        transform: translateX(0%);
        
    
    }
    
    .humberger-menue input[type=checkbox]:checked ~  .humberger-lines .line{
    
        background-color:#fff;
        transition:transform 0.4s ease-in-out;
    }
    
    .humberger-menue input[type=checkbox]:checked ~  .humberger-lines .line1{
    
        transform:rotate(45deg);
        transform-origin: top left;
    }
    .humberger-menue input[type=checkbox]:checked ~  .humberger-lines .line3{
    
        transform:rotate(-45deg);
        transform-origin:bottom left;
    }
    .humberger-menue input[type=checkbox]:checked ~  .humberger-lines .line2{
    
        display:none;
    }

}









@media (min-width:670px) and (max-width:1000px){


    .navbar .container ul{
        display:none;
    }

    *{
        box-sizing: border-box;
    }
    
    body{
    
        font-family:Arial, Helvetica, sans-serif;
    }
    
    li{
        list-style:none;
    }
    .humberger-menue{
    
        /* border:2px solid red; */
        position:relative;
    }
    
    .humberger-menue input[type="checkbox"]{
    
        position:absolute;
        top:20px;
        left:5px;
        width:40px;
        height:32px;
        z-index:2;
        opacity:0;
    }
    .humberger-lines{
    
        width:40px;
        height:32px;
        /* background-color: aqua; */
        position:absolute;
        top:15px;
        left:12px;
        z-index:1;
        display:flex;
        flex-direction:column;
        justify-content:space-between;
        margin-top:1rem
    }
    
    .humberger-lines .line{
    
        background-color: #ccc;
        width:100%;
        height:3.5px;
        display:block;
        border-radius:10px;
        
    }
    
    .menue-items{
    
        /* border:2px solid green; */
        padding-left:40px;
    
        padding-top:100px;
        transform:translateX(-100%);
    
        transition: transform 0.5s ease-in-out;
        
 
        margin-left:-15px;

        padding-bottom:2rem;
    
        width:150px;
        height:230px;
        /* z-index:-5; */
    
    }
    
    .menue-items li a{
    
        margin-bottom:1.5rem;
        color:white;
        font-size:2rem;
    }
    .menue-items li a:hover{

        text-decoration: underline;
    }
    
    .humberger-menue input[type=checkbox]:checked ~ .menue-items{
    
        transform: translateX(0%);
        
    
    }
    
    .humberger-menue input[type=checkbox]:checked ~  .humberger-lines .line{
    
        background-color:#fff;
        transition:transform 0.4s ease-in-out;
    }
    
    .humberger-menue input[type=checkbox]:checked ~  .humberger-lines .line1{
    
        transform:rotate(45deg);
        transform-origin: top left;
    }
    .humberger-menue input[type=checkbox]:checked ~  .humberger-lines .line3{
    
        transform:rotate(-45deg);
        transform-origin:bottom left;
    }
    .humberger-menue input[type=checkbox]:checked ~  .humberger-lines .line2{
    
        display:none;
    }
}
@media (min-width:1000px) and (max-width:3000px){

    .header .humberger-menue{

        display:none;
    }
}
